<div class="kl-switch">  
  <label class="kl-switch-text">Battery status (KL)</label>
  <div class="kl-switch-body">
    <ng-container *ngFor="let state of states; let i = index">
      <input type="radio" 
             id="kl-switch-{{i}}" 
             name="state" 
             [value]="i" 
             [checked]="currentStateIndex === i"
             (change)="setState(i)">
      <label for="kl-switch-{{i}}">{{ state }}</label>
    </ng-container>
  
    <a class="slide" aria-hidden="true" 
      [style.left]="getSliderPosition(currentStateIndex)" 
      [style.width]="getSliderWidth()"
      [style.backgroundColor]="getSliderColor()">
    </a>  
  </div>
</div>