<!-- Password Modal -->
<div *ngIf="!isAuthenticated" class="modal">
  <div class="modal-content">
    <h2>Please enter the password</h2>
    <input type="password" [(ngModel)]="enteredPassword" placeholder="Enter password">
    <button (click)="submitPassword()">Submit</button>
  </div>
</div>

<!-- The actual content that will be shown only after correct password -->
<div class="main-container" *ngIf="isAuthenticated">
  <div class="cluster-container">
    <app-cluster class="cluster"
      [cursorRotation]="cursorRotationSliderValue"
      [carPosition]="carPositionSliderValue"
      [carLeftLaneOn]="carLeftLaneOn"
      [carRightLaneOn]="carRightLaneOn"
    ></app-cluster>
  </div>

  <app-table class="table" />
</div>
