<!-- Password Modal -->
<div *ngIf="!isAuthenticated" class="modal">
  <div class="modal-content">
    <h2>Please enter the password</h2>
    <input type="password" [(ngModel)]="enteredPassword" placeholder="Enter password">
    <button (click)="submitPassword()">Submit</button>
  </div>
</div>

<!-- The actual content that will be shown only after correct password -->
<div *ngIf="isAuthenticated">
  <!-- <app-header class="header" /> -->
  <div class="cluster-container">
    <app-cluster class="cluster"
      [cursorRotation]="cursorRotationSliderValue"
      [carPosition]="carPositionSliderValue"
      [carLeftLaneOn]="carLeftLaneOn"
      [carRightLaneOn]="carRightLaneOn"
    ></app-cluster>
  </div>

  <app-table></app-table>


  <!-- <div class="sliders">
    <div>
      <p>
        <label>Cursor Rotation: </label>
        <input type="range" min="0" max="360" [(ngModel)]="cursorRotationSliderValue" />
      </p>
      
      <p>
        <label>Car Position: </label>
        <input type="range" min="-100" max="100" [(ngModel)]="carPositionSliderValue" />
      </p>

      <p>
        <label>Car Left Lane: </label>
        <input type="checkbox" [(ngModel)]="carLeftLaneOn">
      </p>

      <p>
        <label>Car Right Lane: </label>
        <input type="checkbox" [(ngModel)]="carRightLaneOn">
      </p>
    </div>

    <div>
      <label for="userInput">Warning Light: </label>
      <input type="text" id="userInput" [(ngModel)]="clusterLightType" placeholder="Type something..." />
      <button (click)="submit()">Submit</button>
    </div>
  </div> -->
</div>
