<div class="battery-level">
  <div class="battery-level-body">
    <svg class="battery-level-indicator-svg" viewBox="0 0 400 170">
      <!-- <defs>
        <linearGradient id="battery-level-gradient" x1="0" y1="0" x2="0" y2="1">
          <stop offset="0%" stop-color="#000000" />
          <stop offset="50%" stop-color="#b4b4b4" />
          <stop offset="100%" stop-color="#b4b4b4" />
        </linearGradient>
      </defs> -->
      <!-- battery-level-big-lines-1 -->
      <!--  stroke="url(#battery-level-gradient)" stroke-width="2px" -->


      <line class="battery-level-big-lines" x1="327" y1="130" x2="350" y2="90" />
      <line class="battery-level-big-lines" x1="270" y1="130" x2="293" y2="90" />
      <line class="battery-level-big-lines" x1="213" y1="130" x2="236" y2="90" />
      <line class="battery-level-big-lines" x1="156" y1="130" x2="180" y2="90" />
      <line class="battery-level-big-lines" x1="89" y1="108" x2="120" y2="78" />
      <line class="battery-level-big-lines" x1="37" y1="42" x2="72" y2="35" />

      <line class="battery-level-small-lines" x1="242" y1="130" x2="254" y2="110" />
      <line class="battery-level-small-lines" x1="185" y1="130" x2="197" y2="110" />
      <line class="battery-level-small-lines" x1="125" y1="125" x2="136.5" y2="108" />
      <line class="battery-level-small-lines" x1="55" y1="79" x2="75" y2="68" />
      <line class="battery-level-small-lines" x1="298" y1="130" x2="310" y2="110" />

      <text class="battery-level-text" x="357" y="77">0</text>
      <text class="battery-level-text" x="300" y="77">20</text>
      <text class="battery-level-text" x="243" y="77">40</text>
      <text class="battery-level-text" x="187" y="77">60</text>
      <text class="battery-level-text" x="143" y="67">80</text>
      <text class="battery-level-text" x="112" y="37">100</text>

      <g id="battery-level-needle-group">
        <rect x="0" y="0" width="12" height="53" fill="none" />
        <line id="battery-level-needle" x1="6" y1="3" x2="6" y2="53" />
      </g>

      <path id="battery-level-path" d="M390 130 Q235 130 150 130 T 20 10" />
      <text class="battery-level-unit-text" x="370" y="120">%</text>
    </svg>
  </div>
</div>
