<div class="instant-consumption">
  <div class="instant-consumption-body">
    <svg class="instant-consumption-indicator-svg" viewBox="50 0 200 150">
      <line class="instant-consumption-big-lines" x1="166" y1="110" x2="181" y2="88" />
      <line class="instant-consumption-big-lines" x1="117" y1="102" x2="136.6" y2="78" />
      <line class="instant-consumption-big-lines" x1="78" y1="63" x2="102" y2="47" />

      <text class="instant-consumption-text" x="189" y="79">0</text>
      <text class="instant-consumption-text" x="120" y="42">40</text>
    
      <g id="instant-consumption-needle-group">
        <rect x="0" y="0" width="10" height="33" fill="none" />
        <line id="instant-consumption-needle" x1="4" y1="0" x2="4" y2="30" />
      </g>

      <path id="instant-consumption-path" d="M220 110 Q200 110 152 110 T65 40" />
      <text class="instant-consumption-unit-text" x="200" y="105">Ah</text>
    </svg>
  </div>
</div>
  