<div class="indicator">
    <div class="indicator-text">
        <label class="indicator-text-max-value" style="opacity: {{maxValueOpacity}};">{{maxValue + symbol}}</label>
        <label class="indicator-text-min-value" style="opacity: {{minValueOpacity}};">{{minValue + symbol}}</label>
        <label class="indicator-text-indicator" style="left: {{titleOffset}}%">{{title}}</label>
        <label class="indicator-text-value" style="top: {{valuePos}}%;">{{value + symbol}}</label>
    </div>
    
    <div class="indicator-slider">
        <div class="indicator-slider-value" style="height: {{value}}%;"></div>
    </div>
</div>
