[Unit]
Description=Wi-Fi Fallback Hotspot
After=NetworkManager.service network.target
# (remove) Wants=NetworkManager-wait-online.service

[Service]
Type=oneshot
User=root
RemainAfterExit=yes
# (remove) ExecStartPre=/usr/bin/nm-online -q -t 20 || true
# (remove) ExecStartPre=/bin/sleep 3
Environment=CONFIG_FILE=/opt/rpi-wifi-fallback/config.env
Environment=LOG=/var/log/rpi-wifi-fallback.log
Environment=DEBUG=1
ExecStart=/opt/rpi-wifi-fallback/fallback.sh auto
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
